Employee-Registration/EmployeeDetails_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.employee.org/EmployeeDetails/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.employee.org/EmployeeDetails/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="InsertEmployeeDetails">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="employeeId" type="xsd:string"/>
          	<xsd:element name="employeeName" type="xsd:string"/>
          	<xsd:element name="DOB" type="xsd:date"/>
          	<xsd:element name="empLocation" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="InsertEmployeeDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="recordUpdate" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>